{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    {#    <h2>Log In</h2>#}
    {#    <form method="post">#}
    {#        {% csrf_token %} #}
    {#        {{ form.as_p }} #}
    {#        <button type="submit">Log In</button>#}
    {#    </form>#}


    <div class="flex flex-col py-10 mt-32 m-auto bg-amber-200 w-6/12 border border-amber-300 rounded-lg space-y-5">
        <h2 class="text-5xl text-center" >Log In</h2>
        <form action="." method="post" class="w-9/12 mx-auto text-center">
            {% csrf_token %}
            <div class="mb-5">
                <label for="id_username"
                       class="block mb-2 text-left text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input type="text" id="id_username" name="username" autofocus autocapitalize="none" autocomplete="username"
                       aria-invalid="true"
                       class="bg-amber-100 border border-amber-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="username" required/>
            </div>
            <div class="mb-5">
                <label for="id_password"
                       class="block mb-2 text-left text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" name="password" autocomplete="current-password" required aria-invalid="true"
                       id="id_password"
                       class="bg-amber-100 border border-amber-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="password"/>
            </div>
            <button type="submit"
                    class="text-white bg-amber-600 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto mt-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Log In
            </button>
        </form>
    </div>

{% endblock %}