{% extends "base.html" %}


{% block content %}
    <h2 class="font-bold text-center text-2xl mb-4">Add new Purchase</h2>


    <form method="post" class="max-w-sm mx-auto">
        {% csrf_token %}
        <div class="text-center bg-amber-200 p-8 mt-5 border border-amber-300 rounded-lg">
            <div class="text-left">
                <div class="mb-5">
                    <label for="id_menu_item"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Menu Item Purchased</label>
                    <select name="menu_item" id="id_menu_item" required
                            class="bg-amber-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                        <option value="" selected="">---------</option>
                        {% for option in menu_items %}
                            <option value="{{ forloop.counter }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>

{#                <div class="mb-5">#}
{#                    <label for="id_ingredient"#}
{#                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Menu Item Purchased</label>#}
{#                    <select name="ingredient" id="id_ingredient" required#}
{#                            class="bg-amber-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"#}
{#                    >#}
{#                        <option value="" selected="">---------</option>#}
{#                        {% for option in menu_items %}#}
{#                            <option value="{{ forloop.counter }}">{{ option }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}

{#                <div class="mb-5">#}
{#                    <label for="id_quantity"#}
{#                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>#}
{#                    <input type="number" name="quantity" id="id_quantity" value="0" step="any"#}
{#                           class="bg-amber-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"#}
{#                           required/>#}
{#                </div>#}
            </div>
            <button type="submit"
                    class="w-full text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Add
            </button>
        </div>
    </form>

{% endblock %}
